[Unit]
Description=Cluster Preparation Service
Wants=network-online.target
After=network-online.target

[Service]
# Command to execute when the service is started
Environment=PYTHONPATH=/usr/local/cluster-prep/python
Environment=PYTHONUNBUFFERED=1
Type=notify
ExecStart=/usr/bin/python3 /usr/local/cluster-prep/python/cluster-prep-service.py
[Install]
WantedBy=multi-user.target


